{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="static/css/index.css">
{% endblock styling %}
{% block banner %}Football Comparison Tool{% endblock banner %}
{% block content %} 

<div class="about-container">
    <div class="about">
        <div class="text">
            <h2>Football Player Comparison Tool</h2>
            <p>This tool allows you to look at players performance throughout the football season. This tool uses an API to
                gather information and displays it free of charge to the user.</p>
            <p>Enter two player's names in the red box to compare the two players. This will allow the user to
                visualize their metrics and performance through the season. You may also select which metrics you want to
                see in your graph.</p>
            <p>Enter a player name in the blue box to view their player profile. This will allow you to see an individual
                players stats and metrics in much more detail than the comparison tool.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="comparison">
        <div class="comparisonbox">
            <form method="post" action="/tools/comparison">
            <label for="player1">Player:</label>
            <input type="text" id="player1" name="player1" value="Player Name" required><br>

            <br>

            <label for="player2">Compare with:</label>
            <input type="text" id="player2" name="player2" value="Player Name"><br>

            <br>

             <input type="submit" name="function" value="Compare">
        </form>
        </div>
    </div>

    <div class="profile">
        <div class="profilebox">
            <form method="post" action="/tools/profile">
            <label for="player">Get Player Profile:</label>
            <input type="text" id="player" name="player" value="Player Name"><br>

            <br>

             <input type="submit" name="function" value="Profile">
            </form>
        </div>
    </div>
</div>


{% endblock content %}