{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="../static/css/stats.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <style type="text/css">
        .Player-Container {
           background-color: {{data['logo_color']}};
        }
    </style>
{% endblock styling %}
{% block banner %}Football Comparison Tool{% endblock banner %}
{% block content %}

<div class="Player-Container">
    <div class="About">
        <div class="text">
            <h1>{{data['full_name']}}  {{data['position']}}  {{data['team']}}</h1>
        </div>
        <div class="picture">
            <img class="logo" src="{{data['logo']}}">
        </div>
    </div>

    <div class="picture">
        <img class="headshot" src={{data['headshot_url']}}>
    </div>
</div>

<table class="personal-stats">
    <tbody>
        <th>Age:</th>
        <td>{{data['age']}}</td>
        <th>Height:</th>
        <td>{{data['height']}}</td>
        <th>Weight:</th>
        <td>{{data['weight']}}</td>
        <th>College:</th>
        <td>{{data['college']}}</td>
        <th>Draft Pick:</th>
        <td>{{data['draft']}}</td>
        <th>Year:</th>
        <td>{{data['years_exp']}}</td>
    </tbody>
</table>

<br>

<div class="Stats-Container">

    <div class="Table-Container">
    <table>
        <tbody>
                {% set count = namespace(value=0) %}
                {% for item in data['displayNames'] %}

                    <tr>
                        <th>{{item}}:</th>
                        <td>{{data['totals'][count.value]}}</td>
                    </tr>

                    {% set count.value = count.value + 1 %}
                {% endfor %}
        </tbody>
    </table>
</div>

    <div class="Metrics">
        <button class="dropdown_button">metrics</button>
        <div class="dropdown_items">
            {% set count = namespace(value=0) %}
            {% for key, value in data['gameStats'].items() %}

            <button data-label="{{data['displayNames'][count.value]}}" data-p1="{{value}}"
               onclick="updateChart(this.getAttribute('data-label'), this.getAttribute('data-p1'))">
                {{data['displayNames'][count.value]}}
            </button>

                {% set count.value = count.value + 1 %}
            {% endfor %}
        </div>
    </div>

    <div class="chart">
        <canvas id="myChart" style="width:100%;"></canvas>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        var xValues = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17];
        const chart = new Chart(ctx, {
                      type: "line",
                      data: {
                        labels: xValues,
                        datasets: [{
                          label: "{{data['full_name']}}",
                          data: [0],
                          borderColor: "{{data['logo_color']}}",
                          fill: false
                        }]
                      },
                      options: {
                        legend: {display: true},
                        scales: {
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'Touch Downs'
                              }
                            }],
                            xAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'Game'
                              }
                            }]
                      }
                  }
                });

        function updateChart(label, p1) {

            var data1 = JSON.parse(p1);

            chart.options.scales.yAxes[0].scaleLabel.labelString = label
            chart.data.datasets[0].data = data1;

            chart.update();
        };

        </script>
    </div>

</div>

<div class="footer">

</div>


{% endblock content %}