{% extends "layout.html" %}
{% block styling %}
    <link rel="stylesheet" href="../static/css/stats.css">
    <style type="text/css">
        body {
           background-image: url("{{data['logo']}}");
           background-color: {{data['logo_color']}};
        }
    </style>
{% endblock styling %}
{% block banner %}Football Comparison Tool{% endblock banner %}
{% block content %} 

<div class="About">
    <div class="text">
        <h1>{{data['full_name']}}  {{data['position']}}  {{data['team']}}</h1>
    </div>
</div>

<div class="picture">
    <img src={{data['headshot_url']}}>
</div>

<table>
    <tbody>
            <tr>
                <th>Age:</th>
                <td>{{data['age']}}</td>
                <th>Height:</th>
                <td>{{data['height']}}</td>
                <th>Weight:</th>
                <td>{{data['weight']}}</td>
            </tr>
            <tr>
                <th>College:</th>
                <td>{{data['college']}}</td>
                <th>Draft Pick:</th>
                <td>{{data['draft']}}</td>
                <th>Year:</th>
                <td>{{data['years_exp']}}</td>
            </tr>

            <tr>
                <td>Receptions</td>
                <th>Player:</th>
                <td>{{data['gameStats']['totals'][0]}}</td>
                <th>Average:</th>
                <td>{{data[10]}}</td>
                <td>{{data[11]}}</td>
            </tr>
            <tr>
                <td>Receiving Yards</td>
                <th>Player:</th>
                <td>{{data['gameStats']['totals'][2]}}</td>
                <th>Average:</th>
                <td>{{data[13]}}</td>
                <td>{{data[14]}}</td>
            </tr>
            <tr>
                <td>Receiving Touchdowns</td>
                <th>Player:</th>
                <td>{{data['gameStats']['totals'][4]}}</td>
                <th>Average:</th>
                <td>{{data[16]}}</td>
                <td>{{data[17]}}</td>
            </tr>
            <tr>
                <td>Yds/reception</td>
                <th>Player:</th>
                <td>{{data['gameStats']['totals'][3]}}</td>
                <th>Average:</th>
                <td>{{data[19]}}</td>
                <td>{{data[20]}}</td>
            </tr>
    </tbody>
</table>

{% endblock content %}